.differenceMenuBase{
    display: grid;
    width: 25%;
    height: 500px;
    justify-content: center;
    margin: auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 8px 8px 8px rgb(215, 215, 215);
    text-align: center;
}

.differenceMenuBase > img{
    margin: 0 auto;
}
.differenceMenuBase > p{
    font-size: 28px;
}

.differenceMenuBase > div{
    display: grid;
    grid-template-columns: 25% 75%;
    width: 350px;
    font-size: 22px;
    text-align: left;
    align-items: center;
    
}

.differenceMenuBase > div > a{
    color: rgb(68, 68, 68);
    text-decoration: none;   
}

.differenceMenuBase > div > img{
    justify-self: center;
}

.differenceMenuBase > a{
    color: rgb(255, 255, 255);
    text-decoration: none;   
    font-size: 25px;
    
    width: 40%;
    justify-self: center;
    align-self: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(64, 178, 239);
}

