.clientMenuBase{
    display: grid;
    width: 20%;
    height: 450px;
    justify-content: center;
    margin: 90px auto;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.clientMenuBase > img{
    margin: 0 auto;
}
.clientMenuBase > p{
    font-size: 28px;
    font-weight: 600;
}

.clientMenuBase > div{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 330px;
    font-size: 22px;
    text-align: left;
    align-items: center;
    
}

.clientMenuBase > div > a{
    color: rgba(13, 13, 13, 0.75);
    text-decoration: none;   
}

.clientMenuBase > div > img{
    justify-self: center;
}

.clientMenuBase > a{
    text-decoration: none;   
    margin-top: 30px;
    width: 40%;
    justify-self: center;
    align-self: center;
    padding: 5px;
    margin: 50px auto 0px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;
    
}

