.clientMenuBase{
    display: grid;
    width: 20%;
    height: 450px;
    justify-content: center;
    margin: 90px auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 0px 8px rgb(215, 215, 215);
    text-align: center;
}

.clientMenuBase > img{
    margin: 0 auto;
}
.clientMenuBase > p{
    font-size: 28px;
    font-weight: 600;
}

.clientMenuBase > div{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 330px;
    font-size: 22px;
    text-align: left;
    align-items: center;
    
}

.clientMenuBase > div > a{
    color: rgb(68, 68, 68);
    text-decoration: none;   
}

.clientMenuBase > div > img{
    justify-self: center;
}

.clientMenuBase > a{
    color: rgb(255, 255, 255);
    text-decoration: none;   
    font-size: 25px;
    margin-top: 30px;
    width: 40%;
    justify-self: center;
    align-self: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(64, 178, 239);
}

