.formBase{
    display: grid;
    width: 350px;
    height: 400px;
    justify-content: center;
    margin: auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(199, 227, 250, 1);
    text-align: center;
    margin-top: 100px;
}

.formBase > img{
    margin: 0 auto;
}
.formBase > p{
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    color: rgba(13, 13, 13, 0.75);
}

.formBase > select{
    display: grid;
    width: 300px;
    height: 40px;
    font-size: 22px;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    text-align: center;
    color: rgba(125, 125, 125, 1);
    
}

.formBase > select > option{
    text-align: center;
}

.priceBase{
    display: grid;
    grid-template-columns: repeat(2,50%);
    width: 340px;
    font-size: 22px;
    align-items: center;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
}

.priceBase > input{
    display: grid;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    margin: 5px 20px;
    font-size: 25px;
    text-align: center;
}

.priceToBuy{
    background-color: rgba(123, 209, 120, 0.5);
    border: 2px solid rgb(70, 118, 7);
    color: green;
}

.priceToSell{
    background-color: rgba(232, 113, 113, 0.5);
    border: 2px solid rgb(251, 0, 0);
    color: red;
}

.buttonBase > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}

.buttonBase > button > a{
    text-decoration: none;  
    color: #fafafa;
}