.listDifferenceBase{
    display: grid;
    height: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.listDifferenceBase > img{
    margin: 0 auto;
}
.listDifferenceBase > p{
    font-size: 30px;
    margin: 20px auto;
    font-weight: 600;
}

.listDataBase{
    display: grid;
    width: 100%;
    margin-top: 50px;
}

.listTitles{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    color: rgb(122, 122, 122);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 0px 5px;
}
.dataContainer{
    overflow:hidden;
    overflow-y:auto;
    max-height: 400px;
}

.listData{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    margin: 5px;
    align-items: center;
}

.listDataSelected{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    background-color: rgba(212, 201, 231, 0.528);
    margin: 5px;
    align-items: center;
}

.listDataSelected > p{
    font-size: 18px;
    margin: 10px auto;
}

.listData:hover{
    background-color: rgba(228, 220, 241, 0.528);
}

.listData > p{
    font-size: 18px;
    margin: 10px auto;
}

.buttonBase{
    height: 100%;
    margin: 0 auto;
}

.buttonBase > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}
.particularLink{
    text-decoration: none;  
    color: #fafafa;
}