.formBase{
    display: grid;
    width: 20%;
    height: 520px;
    justify-content: center;
    margin: 100px auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 8px 8px 8px rgb(215, 215, 215);
    text-align: center;
}

.formBase > img{
    margin: 0 auto;
}
.formBase > p{
    font-size: 30px;
    font-weight: 500;
}
.formBase > span{
    color: red;
}

.formBase > input{
    display: grid;
    width: 300px;
    height: 40px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px;
    padding: 2px 15px;
    outline: none;
}

.description{
    height: 125px;
    resize: none;
    outline: none;
    font-size: 22px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
}

.linkBase{
    height: 100px;
    margin: 0px auto;
    margin-top: 50px;
}

.linkBase > button{
    padding: 10px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    text-decoration: none;  
    height: 42px;
    width: 100px;
    margin: 3px;
}

.linkBase > a{
    text-decoration: none;  
    padding: 10px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    margin: 3px;
}