.listProviderBase{
    display: grid;
    min-height: 600px;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.listProviderBase > p{
    font-size: 38px;
    margin: 20px auto;
    font-weight: 600;
    color: rgba(13, 13, 13, 0.75);
}

.listDataBase{
    display: grid;
    width: 100%;
}

.listTitles{
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    color: rgb(122, 122, 122);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.dataContainer{
    overflow:hidden;
    overflow-y:auto;
    max-height: 400px;
}

.listData{
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    margin: 5px;
    align-items: center;
}

.listDataSelected{
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    background-color: rgba(212, 201, 231, 0.528);
    margin: 5px;
    align-items: center;
}

.listDataSelected > p{
    font-size: 18px;
    margin: 10px auto;
}

.listData:hover{
    background-color: rgba(228, 220, 241, 0.528);
}

.listData > p{
    font-size: 18px;
    margin: 10px auto;
}

.buttonBase{
    margin-top: 80px;
}

.buttonBase > button{
    min-width: 100px;
    height: 42px;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    border: 0;

}

.buttonBase > button > a{
    text-decoration: none;
    margin: 10px 5px;
    color: rgb(255, 255, 255);
}
