.listClientBase > h2{
    font-size: 38px;
    margin: 20px 0px auto;
    font-weight: 600;
    position: relative;
    left: 200px;
    color: #0D0D0DBF;
}

.dataContainer{
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    width: 80%;
    margin: auto;
    padding-top: 20px;

}
.listData{
    display: grid;
    grid-template-columns: 1f;
    border-radius: 10px;
    color: rgb(122, 122, 122);
    margin: 20px;
    height: 170px;
}

.listData:hover{
    background-color: rgba(228, 220, 241, 0.528);
}

.listData > p{
    font-size: 18px;
    padding-left: 50px;
}

.date{
    padding-top: 20px;
}

.description{
    padding-bottom: 20px;
    width: 80%;
    height: 100px;
    
    

}

.listClientBase > a{
    display: grid;
    width: 150px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin: 50px auto;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 0;

}