
.operationCurrencyBase{
    position: absolute;
    margin-left: auto;
    right: 15%;
    border:2px solid #bdbdbd;
    width: 100px;
    height: 180px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

.operationCurrencyTitle{
    font-size: 16px;
    font-weight: 600;
    color: #6C6C6C;
    margin-bottom: 20px;
}

.operationCurrencyDescription{
    font-size: 12px;
    font-weight: 500;
    color: #6C6C6C;
}

.priceToBuy{
    background-color: rgba(123, 209, 120, 0.5);
    border: 2px solid rgb(70, 118, 7);
    color: green;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.priceToSell{
    background-color: rgba(232, 113, 113, 0.5);
    border: 2px solid rgb(251, 0, 0);
    color: red;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}

.formBase{
    display: grid;
    width: 750px;
    min-height: 500px;
    margin: auto;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 30px;
    /* text-align: center; */
    margin-top: 100px;
    background-color: white;
}
.topData{
    display: grid;
    grid-template-columns: repeat(2,50%);
    height: 30px;

}
.topData > p{
    position: relative;
    margin-right: auto;
    align-self: center;
    color: #7D7D7D;

}

.sellerButton{
    position: relative;
    margin-left: auto;
    right: 0;
    width: 197px;
    height: 34px;
    border: 1px solid #FB0000;
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #FB0000;
    font-size: 15px;
    font-weight: 600;
}

.operationFormBase {
    height: 200px;
}
.operationFormBase > h3{
    text-align: center;
    font-size: 25px;
    color: rgba(12.75, 12.75, 12.75, 0.75);;
}
.operationStringData{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.descriptionOver{
    
    font-size: 12px ;
    margin-top: 8px ;
    margin-bottom: 0px ;
    margin-left: 15px ;
    color: rgba(108, 108, 108, 1) ;
}
.operationStringParagragh{
    display: grid;
    width: 180px;
    height: 25px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.itemNameBase{
    background-color:white;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    width: 180px;
    padding: 5px 20px;
    margin: 0px 10px;
    position: absolute;
    right: inherit;
    
}

.itemNameParticular:hover{
    cursor: pointer;
}

.operationStringParagraghBuyPrice{
    display: grid;
    width: 110px;
    height: 26px;
    font-size: 22px;
    align-items: center;
    background-color: rgba(232, 232, 232, 0);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}
.waitingCurrencyType{
    width: 240px;
    height: 38px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;   
    outline: none;
}
.operationStringSelect{
    width: 240px;
    height: 38px;
    font-size: 22px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;   
    outline: none;
    color: #7D7D7D;
}

.operationNumberData{
    display: grid;
    grid-template-columns: 66% 33%;
}

.inputsPrices{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding-left: 10px;
    
}

.inputsPrices > div > input{
    display: grid;
    width: 110px;
    font-size: 22px;
    align-items: center;
    background-color: rgba(232, 232, 232, 0);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}


.inputsPricesParagraph{
    display: grid;
    width: 110px;
    font-size: 22px;
    align-items: center;
    background-color: rgba(232, 232, 232, 0);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.totaToPay{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 80px;
}
.totaToPayDescription{
    width: 250px;
    height: 25px;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    border: 3px solid #FB0000;
    border-radius: 5px;
    padding: 5px 20px;
    justify-self: center;
    color: #4d4d4d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descriptionOverTotal{
    font-size: 18px;
    font-weight: 600;
    color: #FB0000;
}

.buttonBase{
    text-align: center;
}
.buttonBase > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}

.buttonBase > button > a{
    text-decoration: none;  
    color: #fafafa;
}

.totalToSellBase{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
