.formBase{
    display: grid;
    width: 750px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(219, 219, 219);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    margin-top: 100px;
    background-color: white;
}

.formBase > img{
    margin: 0 auto;
}
.date{
    text-align: left;
    color: #7D7D7D;
}
.formBase > p{
    font-size: 30px;
    margin-top: 50px;
    font-weight: 600;
    color: rgba(13, 13, 13, 0.75);

}

.formBase > div > div{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.formBase > div > div > input{
    display: grid;
    width: 300px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.formBase > div > div > p{
    display: grid;
    width: 300px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.formBase > div > div > select{
    
    width: 340px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.formBase > div > div > span{
    position: relative;
    left:100%;
}

.description{
    height: 125px;
    resize: none;
    outline: none;
    font-size: 22px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
    width: 670px;
    justify-self: center;
    color: #7D7D7D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formBase > div > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    margin-top: 80px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}

.formBase > div > button > a{
    text-decoration: none;  
    color: #fafafa;
}