.formBase{
    display: grid;
    width: 400px;
    height: 500px;
    justify-content: center;
    margin: 100px auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
}

.formBase > img{
    margin: 0 auto;
}
.formBase > p{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    color: rgba(13, 13, 13, 0.75);
}

.formData{
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

.formBase > div > input{
    display: grid;
    width: 300px;
    height: 40px;
    font-size: 22px;
    align-items: center;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    margin: 5px auto;

    padding: 5px 20px;
    outline: none;
}

.description{
    height: 125px;
    width: 300px;
    resize: none;
    outline: none;
    font-size: 22px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
}

.formBase > div > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}

.formBase > div > button > a{
    text-decoration: none;  
    color: #fafafa;
}
/* 

.formBase > div > a {
    text-decoration: none;  
    color: #fafafa;
}

.formBase > div > a > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    text-decoration: none;  
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;   
} */