.headerOptionBase{
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    width: 300px;
}

.imageBase > img{
    background-color: rgb(208, 207, 252);
    border-radius: 100px;
    padding: 5px;
}

.headerOptionBase > div> p {
    padding: 4px;
}
.title {
    font-size: 16px;
    font-weight: 500;
    color: #0D0D0DBF;
}

.description{
    font-size: 10px;
    color: #6C6C6CCC;
}