.formBase{
    display: grid;
    width: 750px;
    height: 500px;
    margin: auto;
    border: 2px solid rgb(169, 169, 169);
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    margin-top: 100px;
}

.formBase > img{
    margin: 0 auto;
}
.formBase > p{
    font-size: 30px;
    font-weight: 600;
    color: rgba(13, 13, 13, 0.75);
    margin-top: 50px;

}
.data{
    margin-top: 10px;
    height: 300px;
}


.data > div{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 700px;
    margin: auto;
}

.dataOver{
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 15px;
    color: rgba(108, 108, 108, 1);
}
.descriptionOver{
    text-align: left;
    font-size: 15px;
    margin-top: 8px;
    margin-left: 40px;
    color: rgba(108, 108, 108, 1);
}
.name{
    display: grid;
    justify-self: center;
    align-items: center;
    font-size: 18px !important; 
    height: 35px;
    border: 1px solid rgb(136, 136, 136);
    padding-top: 10px;
    width: 280px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    text-align: left;
    color: #7D7D7D;
}

.data > div > select{
    justify-self: center;
    width: 320px;
    height: 45px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.data > div > div > input{
    justify-self: center;
    width: 280px;
    height: 35px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    outline: none;
    color: #7D7D7D;
}

.description{
    height: 125px;
    resize: none;
    outline: none;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px 20px;
    margin-top: 5px;
    width: 630px;
    justify-self: center;
    color: #7D7D7D;
}

.formBase > div > button{
    padding: 10px;
    width: 150px;
    height: 40px;
    margin: 5px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(0, 140, 255, 1);
    color: #fafafa;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: 0px;    
}

.formBase > div > button > a{
    text-decoration: none;  
    color: #fafafa;
}