.listSellerBase{
    display: grid;
    min-height: 600px;
    margin: auto;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.listSellerBase > img{
    margin: 0 auto;
}
.listSellerBase > p{
    font-size: 38px;
    margin: 20px auto;
    font-weight: 600;
}

.listDataBase{
    display: grid;
    width: 100%;
}

.listTitles{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    color: rgb(122, 122, 122);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.dataContainer{
    overflow:hidden;
    overflow-y:auto;
    max-height: 400px;
}

.listData{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    margin: 5px;
    align-items: center;
}

.listDataSelected{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    border-radius: 10px;
    color: rgb(122, 122, 122);
    background-color: rgba(212, 201, 231, 0.528);
    margin: 5px;
    align-items: center;
}

.listDataSelected > p{
    font-size: 18px;
    margin: 10px auto;
}

.listData:hover{
    background-color: rgba(228, 220, 241, 0.528);
}

.listData > p{
    font-size: 18px;
    margin: 10px auto;
}

.buttonBase > a{
    width: 100px;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: rgb(64, 178, 239);
    color: rgb(255, 255, 255);

}

.buttonBase > button{
    min-width: 100px;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: rgb(64, 178, 239);
    color: rgb(255, 255, 255);
    border: 0;

}